@import url('https://fonts.googleapis.com/css2?family=Gurajada&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  border-sizing: border-box;
  font-family: 'tillium', sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background: #121319;
  color: white;
}

header {
  position:fixed;
  top:0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  align-items: center;
}

header>label {
  font-weight: 300;
  font-size: 1.3rem;
}

nav {
  margin: 10px;
}

ul {
  display: flex;
  width: 100%;
  text-decoration: none;
  list-style: none;
  color: white;
  gap: 10px;
}

a {
  text-decoration: none;
  list-style: none;
  color: white;
  font-weight: 200;
}
a:hover{
  background-image:linear-gradient(#4721BD,
  #5B1C61,
  #431DBB);
  background-clip:text;
}

main {
  display: block;
  width: 100%;
  height: 100vh;
}

#ladding_page,
#desc {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

#name,
#foto {
  flex: 1 1 900px;
  height:40vh;
  width: 100%;

}

#name {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 80px 0px 0px 20px;
}

#name h1 {
  font-size: 3.4rem;
  font-weight: 300;
  margin: 20px 0px;
}

#name label {
  font-weight: 400;
  margin: 10px 0px;
}

#name button {
  width: 140px;
  padding: 10px;
  background: #1725C3;
  border: none;
  color: white;
  font-weight: bold;
  margin-top: 50px;
}

#foto {
  height:0vh;
}

#desc {
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
}

#text,
#tech_blue {
  height: 100vh;
  width: 100%;
  flex: 1 1 900px;
}
#tech_blue h2{
  font-weight:300;
  margin:0px 10px;
}
#text {
  display: block;
  margin: 20px 20px;
}

#text #sobre>h2 {
  margin-top: 70px;
  font-weight: 300;
}

#sobre {
  font-weight: 200;
  font-size: 1.5rem;
}
#contact{
  display:flex;
  align-items:center;
  margin:20px 10px;
}
#contact img{
  animation:2s rede infinite ease-in-out alternate;
  width:60px;
  height:60px;
}
@keyframes rede{
  to{
    transform:scale(1.05) translate(1px,2px);
  }
}

#btn_ld button {
  width: 150px;
  background: #1B27AA;
  color: white;
  border: none;
  padding: 10px;
  font-weight: 500;
  margin-top: 50px;
}

#ling {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height:100vh;
  justify-content:center;
  align-items:center;
  gap:20px;
}

#ling>.l {
  display:flex;
  align-items:center;
  justify-content:center;
  width: 100px;
  height: 100px;
  background:#343866;
  border-radius:50%;
}
i > img{
  width:50px;
}